#addRuleModal,#editRuleInfoModal{
	.cache-panel{
	    height:180px;
	    .dropdown-menu{
	    	.form-group{
	    		height: 30px;
	    		margin-bottom: 0px;
	    		.checkbox{
	    			margin-top: 0px;
	    		}
	    	}
	    }
	}
}