#projectlist{
	padding: 0 20px;
	.projectlist_table{
		margin-top: 10px;
	}
	.project_label{
		margin-left: 15px;
	}
	.project_checkbox{
		margin-left: 5px;
	}
	.btn{
		margin-right: 5px;
	}
	.search{
		.form-group:first-child{
			width: 110px;
			float: left;
			margin-right: 10px;
		}
		.form-group:nth-child(2){
			width: 200px;
			float: left;
		}
	}
	.create-project{
		float: left;
		margin-right: 10px;
		margin-bottom: 10px;
	}
}.